<footer class="main-footer">
  <div class="wrapper">
    <div class="company-info">
      <h3 class="company-title">{{ i18n "companyName" }}</h3>
      <p class="company-description">{{ i18n "companyDescription" }}</p>
      <address>
        {{ .Site.Data.organization.address.street }}<br>
        {{ .Site.Data.organization.address.postalCode }} {{ .Site.Data.organization.address.locality }}<br>
        {{ .Site.Data.organization.address.country }}
      </address><br>
      <p><em>{{ i18n "companyTax" }}</em></p>
    </div>
    <section class="contact-information">
      <h3>{{ i18n "contact" }}</h3>
      <address>
        <a href="mailto:{{ .Site.Data.organization.email }}"><span class="material-icons">mail</span>{{ .Site.Data.organization.email }}</a>
        <a href="tel:{{ .Site.Data.organization.rawPhone }}"><span class="material-icons">phone</span>{{ .Site.Data.organization.phone }}</a>
      </address>
    </section>
  </div>
</footer>
